<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reddit Clone Site</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap">
</head>
<body>
    <style>
        html {font: 32px "Ubuntu", sans-serif;}
        .name {text-decoration: underline;
            color: blueviolet;}
        input {font: inherit;}
        .btn {text-align: center;
            border-radius: 6px;
            border: none;
            background-color: chartreuse;}
    </style>
    <h2>Hello, <span class="name" th:utext="${name}">Jhon Doe !</span> This is Reddit Clone Site</h2>
    <div th:if="${param.error}">
        Invalid username and password.</div>
    <div th:if="${param.logout}">
        You have been logged out.</div>
    <form action="@{/login}" method="post">
        <div>
			<input type="text" name="username" placeholder="Username" required/>
			</div>
			<div>
			<input type="password" name="password" placeholder="Password" required/>
			</div>
			<input class="btn" type="submit" value="Log in" />
		</form>
    </form>
</body>
</html>